* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register-container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.top-section {
    padding: 40px 0 20px 0;
    text-align: center;
    border-bottom-left-radius: 50px 20px;
}

.top-section img.logo {
    width: 30px;
    height: 30px;
    max-width:80px;
    /* height: auto; */
}

.form-section {
    padding: 30px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: clamp(18px, 2.5vw, 22px);
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background: #f2f2f2;
    font-size: 14px;
}

select {
    appearance: none;
}

.password-wrapper {
    position: relative;
}

.password-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}

.register-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: 1px solid #5c2ed8;
    border-radius: 25px;
    background: transparent;
    color: #5c2ed8;
    font-size: 16px;
    cursor: pointer;
}

.register-btn:hover {
    background: #5c2ed8;
    color: white;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #5c2ed8;
    text-decoration: none;
}

@media (max-width: 500px) {
    body {
        align-items: flex-start;
    }
    .register-container {
        max-width: 100%;
        min-height: 100vh;
        box-shadow: none;
    }
    .top-section {
        padding: 30px 0 15px 0;
        border-bottom-left-radius: 35px 15px;
    }
    .form-section {
        padding: 20px 15px;
    }
}
